<header class="fixed-top">
    <div class="container header-container">
        <a href="/">
            <img class="header-logo" src="img/programmer.svg" alt="Jobs" style="width:50px;height:50px;">
        </a>
        {{#if jobs}}
        <div class="middle-text">
            You have applied for {{jobs.length}} Jobs
        </div>
        {{/if}}
        <nav class="header-nav">
            <a href="/apply">Apply</a>
        </nav>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
    </div>
</header>