<div class="container index-container">Developed by<a href="http://github.com/nkr1shna">Krishna Chaitanya Nelloore</a><hr>
Framework
    <a href="https://github.com/chriscourses/voyager">Voyager</a><hr>
    Icons made by
    <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY
</div>